.customFont {
  font-family: Marker Felt, fantasy;
}

.signUpContainer {
  padding: 5px;
  border-radius: 25px;
}

.frameContainer {
  background-image: url('./bg-signup3.jpg');
  background-size: cover;
  background-position: center;
  padding: 5px;
  border-radius: 35px;
}

.shadow {
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.text-primary {
  color: #530870 !important;
}

.text-danger {
  color: #e30505 !important;
}

.text-success {
  color: green !important;
}

.password-strength {
  font-weight: bold;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  color: #000000;
  background-color: #f6e4ff;
  border: 3px solid rgb(247, 243, 249);
}

.customLabel {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-left: 0px;
  text-align: left;
  display: block;
  font-weight: bolder;
  color: #000000;
}

.btnPurple {
  background-color: #000000;
  border-color: #000000;
  color: white;
}

.btnPurple:hover {
  background-color: #5a3b89;
  border-color: #5a3b89;
}

@media screen and (max-width: 768px) {
  .col-lg-6 {
    padding: 20px !important;
  }

  .rounded-start {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-check {
  display: flex;
  align-items: center;
}
