.customFont {
  font-family: Marker Felt, fantasy;
}

.signUpContainer {
  padding: 5px;
  border-radius: 25px;
}

.frameContainer {
  background-image: url('./bg-signup3.jpg');
  background-size: cover;
  background-position: center;
  padding: 5px;
  border-radius: 35px;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight transparency for better appearance */
}

.text-primary {
  color: #530870 !important;
}

.text-danger {
  color: #e30505 !important;
}

.text-success {
  color: green !important;
}

.password-strength {
  font-weight: bold;
}

.inputField {
  width: 100%; /* Changed to 100% for better responsiveness */
  padding: 10px; /* Increased padding for better touch experience */
  margin: 2.5px 0; /* Adjusted margin to reduce space around input fields to half */
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  background-color: #f6e4ff;
  border: 3px solid rgb(247, 243, 249);
  box-sizing: border-box;
  font-size: 17px;
}

.customLabel {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: left;
  display: block;
  color: #000000;
  margin-bottom: 2.5px; /* Separate label from input to half */
  font-size: 20px;
}

.btnPurple {
  background-color: #5a3b89;
  border-color: #5a3b89; 
  color: rgb(255, 255, 255); /* Changed to white for better contrast */
}

.btnPurple:hover {
  background-color: #000000;
  border-color: #000000;
  color: aliceblue;
}

@media screen and (max-width: 768px) {
  .col-lg-6 {
    padding: 20px !important;
  }

  .rounded-start {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; /* Ensure the form group takes the full width */
  margin: 0 5px; /* Adjusted margin to 5px from each side */
}

.form-check {
  display: flex;
  align-items: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 5px; /* Space between columns reduced to half */
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mb-3 {
  margin-bottom: 0.5rem !important; /* Margin bottom reduced to half */
}

.customLabel {
  margin-left: 0; /* Remove left margin */
}

.form-group {
  width: 100%;
}
