.page-container {
  background-color: #241440;
  height: fit-content;
  margin: 50px 100px;
}

.signin-container {
  margin: auto;
  border: 5px solid rgba(187, 107, 217, 1);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 800px;
}

.title5 {
  margin: 0 auto 10px auto;
  color: #070707;
  text-align: center;
}

.ff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.img1 {
  max-width: 100%;
  max-height: 70%;
  border-radius: 10px;
  margin-top: 30px;
}

.google-login {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #530870;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.google-login:hover {
  background-color: rgb(215, 127, 241);
}

.google-login img {
  width: 20px;
  height: 20px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info>div {
  margin: 10px;
  width: fit-content;
}

.form-g {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  color: #530870;
  background-color: rgb(247, 243, 249);
  border: 3px solid rgba(187, 107, 217, 1);
  border-radius: 5px;
}
#email::placeholder {
  font-family:cursive;
  text-align: left;
  font-size: 15px;
}
#password::placeholder{
  font-family:cursive;
  text-align: left;
  font-size: 15px; 
}
.form-g button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #530870;
  color: #fff;
  border-radius: 5px;
}

.IN {
  color: #530870;
}

.INN {
  color: rgb(239, 59, 9) !important;
}

/* Adjustments for screens smaller than 767px */
@media (max-width: 767px) {
  .signin-container {
    flex-direction: column;
  }

  .ff,
  .image-container {
    width: 100%;
  }
}
  