
.pageContainer {
  background-color: #241440;
  height: fit-content;
  margin: 50px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.signinContainer {
  margin: auto;
  border: 5px solid transparent; /* Replace with desired border color */
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  max-width: 40%; /* Adjust as needed */
  background-image: url('./bg-signin3.jpg'); /* Replace with your background image path */
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.title5 {
  margin: 0 auto 10px auto;
  color: #333;
  text-align: center;
  font-family: Marker Felt, fantasy;
  font-size: 30px;
}

.googleLogin {
  width: 100%;
  max-width: 700px; /* Adjust as needed */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #5a3b89;
  border-color: #5a3b89; 
  color: rgb(255, 255, 255); /* Changed to white for better contrast */
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.googleLogin:hover {
  background-color: #000000;
  border-color: #000000;
  color: aliceblue;
}

.formGroup {
  width: 70%;
  margin-bottom: 10px;
}

.formGroup label {
  display: block;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: left;
  display: block;
  color: #000000;
  margin-bottom: 2.5px; /* Separate label from input to half */
  font-size: 20px;
}

.inputField {
  width: 100%;
  padding: 10px; /* Add padding of 10px */
  margin: 2.5px 0; /* Adjusted margin */
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  background-color: #f6e4ff;
  border: 3px solid rgb(247, 243, 249);
  box-sizing: border-box;
  font-size: 17px;
}

.inputField::placeholder {
  font-family: cursive;
  text-align: left;
  font-size: 15px;
}



.IN {
  color: #000000;
}

.INN {
  color: rgb(0, 0, 0) !important;
}

/* Media query for screens smaller than 767px */
@media (max-width: 767px) {
  .signinContainer {
    max-width: 100%;
  }
}
.remember-me,.forgot-password-link{
  color: #000;
}
.forgot-password-link{
  color: #000;
}