*{
  font-weight: bold;

}

.pricing-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.quote {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  color: black;
}

.card {
  transition: transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    background-color transparent,
    background-color 0.3s ease,
    color 0.3s ease;
  margin-bottom: 30px;
  height: 500px; /* Set a fixed height for all cards */
  flex-direction: column;
  
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: #563d7c;
  color: rgba(255, 255, 255, 1);
}

.card:hover button {
  background-color: rgba(255, 255, 255, 1);
  color: #563d7c;
  background-color: rgba(187, 107, 217, 1);
}

.card-header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card-body {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.btn-outline-primary {
  border-color: #563d7c;
  color: #563d7c;
}

.btn-outline-primary:hover {
  background-color: #563d7c;
  color: #fff;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #563d7c;
  border-color: #563d7c;
}

.custom-control-label:before,
.custom-control-input:checked~.custom-control-label:before {
  border-color: #563d7c;
  background-color: #563d7c;
}

.pricing-card-title {
  font-size: 2rem;
  color: #333;
}

.col-md-4 {
  display: flex;
}


.btn {
  margin-top: auto;
  font-weight: bold;

}

.list-unstyled {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
  padding: 0; 
  margin: 0; 
}

.list-unstyled li {
  display: flex;
  align-items: center; 
  padding: 10px 0; 
}
/* Custom CSS for the "MOST POPULAR" icon */
.most-popular {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color:rgba(187, 107, 217, 1) ;
  padding: 5px 10px; /* Padding */
  border-radius: 100px; /* Rounded corners */
  font-size: 10px; /* Font size */
  font-weight: bold;
}
.pro{
  text-align: left;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }
}

/* AOS animation styles */
[data-aos="fade-up"] {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
}

[data-aos="fade-up"].aos-animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.Footer {
  display: block;
  /* Ensure the footer is initially visible */
}

body.hide-footer .Footer {
  display: none;
  /* Hide the footer when the hide-footer class is present on the body */
}


.fixed-hight{
  /* height: 500px;
  background-color: aqua; */
}