body {
  font-family: cursive;
}
.customFont {
  font-family:Marker Felt, fantasy;
}


.imgFluid {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-primary {
  color: #530870 ;
}

.text-danger {
  color: #e30505 ;
}

.text-success {
  color: green ;
}

.text-primary {
  color: rgb(55, 28, 165) ;
}

.text-danger {
  color: red ;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.9) ;
}

.password-strength {
  font-weight: bold;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
  .col-lg-6 {
    padding: 20px !important;
  }
  
  .roundedStart {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }
  
  .img-fluid {
    max-height: 300px;
  }
}
.inputField {
  width: 100%; 
  max-width: 700px;
  padding: 10px; 
  margin: 10px auto;
  font-family: cursive;
  color: #000000;
  background-color: #f6e4ff ;
  border: 3px solid rgb(247, 243, 249);
  text-align: left;
}
.customLabel {
  font-family: cursive;
  font-weight: bold;
}
.btnPurple {
  background-color: #a77ff1;
  border-color: #6f42c1;
}

.btnPurple:hover {
  background-color: #5a3b89;
  border-color: #5a3b89;
}


.imgFluid {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-primary {
  color: #530870 !important;
}

.text-danger {
  color: #e30505 !important;
}

.text-success {
  color: green !important;
}

.text-primary {
  color: rgb(55, 28, 165) !important;
}

.text-danger {
  color: red !important;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.password-strength {
  font-weight: bold;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
  .col-lg-6 {
    padding: 20px !important;
  }
  
  .rounded-start {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
  }
  
  .img-fluid {
    max-height: 300px;
  }
}
