.fpContainer {
    max-width: 400px; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: #f9f9f9;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

h2 {
    color: #333; 
    text-align: center; 
    font-size: 30px;
    font-family: CoolFont;
    font-weight: bolder;

}

p {
    color: #666; 
    text-align: center; 
}

form {
    margin-top: 20px; }

.formGroup {
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
    color: #333; 
}

.input[type="email"] {
    width: 100%; 
    padding: 10px; 
    border: 3px solid #f4f4f4; 
    background-color: #f4f4f4;
    border-radius: 5px; 
    font-size: 16px; 
}

.btn1 {
    width: 100%; 
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #5a3b89;
    color: #fff;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px; 
}

/* Button hover  */
.btn1:hover {
    background-color: #000;
}

/* Back to sign-in link styling */
.text-dark {
    display: block; /* Block display */
    margin: 20px auto; /* Center horizontally with top and bottom margin */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Cursor style */
    text-align: center; /* Center alignment */
    text-decoration: underline; /* Underline text */
    font-weight: bold;
}


.customLabel {
    display: flex; 
    align-items: center; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 25px; 
    color: #000000; 
    margin-bottom: 5px; 
  }
  
  .customLabel .icon {
    margin-right: 10px; 
  }
  
  .customLabel .icon svg {
    font-size: 1.2em; 
  }
/* Responsive styles */
@media (max-width: 768px) {
    .fpontainer {
        max-width: 90%; /* Adjusted maximum width for smaller screens */
    }
}
.loginButton {
    width: 100%; /* Full width for smaller screens */
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #5a3b89;
    color: #fff;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px; /* Margin added to bottom */
  }
  
  .loginButton:hover {
    background-color: #000;
  }