
svg{
   width: 50px;
}
.UserLogo {
   width: 50px !important;
   height: 50px;
   border-radius: 50%;
}

.formDiv {
   width: 90%;
   margin: auto;
   margin-top: 80px;
   padding: 20px;
   border-radius: 10px;
   background-color: #e6d1d0;
}

.formDiv label {
   color: #465069;
   font-weight: 600;
}

.formDiv h3 {
   color: #465069;
   font-size: 28px;
   margin-top: 20px;
   margin-left: 40px;
}

.formDiv .profile {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   margin-top: 20px;
   margin: auto;
   position: relative;
   text-align: center;
}

.formDiv .profile img {
   width: 180px;
   height: 180px;
   border-radius: 50%;
}

.formDiv .profile .profileDiv {
   position: absolute;
   bottom: 70px;
}

.formDiv .profile .profileDiv button {
   background-color: transparent;
   border: none;
   outline: none;
}

.formDiv .profile .profileDiv button.newBtn {
   color: #465069;
   background-color: white;
   border: 1px solid #465069;
   font-size: 18px;
   padding: 5px;
   border-radius: 5px;
}

.formDiv .profile .profileDiv button.deleteBtn {
   color: red;
   border: 1px solid red;
   background-color: white;
   font-size: 18px;
   padding: 5px;
   border-radius: 5px;
}

.formDiv .profile div {
   margin-left: 10px;
}

.formDiv .profile div h5 {
   font-size: 24px;
   color: #465069;
}

.formDiv .profile div p {
   line-height: 10px;
   color: #465069;
   font-size: 16px;
}

.formDiv .profileContent {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 0 100px;
}

.formDiv .profileContent input {
   width: 500px;
}

.formDiv input {
   border: 1px solid #202542;
}

.formDiv input::placeholder {
   color: #9e9e99;
}

.borderDiv {
   width: 95%;
   height: 4px;
   background-color: #86867e;
   margin: 20px auto;
}

.differ {
   width: 85%;
   margin: auto;
}

.formDiv .submitBtn {
   background-color: #202542;
   display: block;
   margin-right: 100px;
   padding: 10px 30px;
   font-size: 18px;
}

.formDiv .deleteBtn2 {
   background-color: white;
   display: block;
   color: #202542;
   margin-right: 20px;
   padding: 10px 30px;
   font-size: 18px;
}

.secondDivv label {
   margin-top: 20px;
}

.secondDivv .profileContent div:first-child {
   flex-basis: 70%;
}

.secondDivv .profileContent div:last-child {
   flex-basis: 30%;
}

.secondDivv .profileContent div h4 {
   color: #202542;
   font-style: italic;
   font-size: 22px;
   font-weight: 400;
   margin-left: 20px;
}

.secondDivv .editBtn {
   background-color: white;
   display: block;
   color: #202542;
   margin-right: 20px;
   padding: 10px 30px;
   margin-top: 30px;
   font-size: 18px;
   margin-left: auto;
}

@media screen and (max-width: 600px) {
   .formDiv .profileContent {
       padding: 0;
       padding-left: 20px;
   }

   .differ {
       padding-left: 20px;
       width: 100%;
   }

   .differ input {
       width: 300px;
   }

   .formDiv .profileContent input {
       width: 300px;
   }
}
