

body {
  font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif; 
}

.MainContainer {
  border-radius: 30px;
  padding: 5px 15px; /* Adjusted padding for better responsiveness */
  
  background-color: #cdc5ce;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

.HeroSection {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}

.HeroTitle {
  /* color: #ffffff; */
  color: #000000;
  font-size: 36px;
  line-height: 1.5;
  margin-top: 20px;
}



.HeroDescription {
  font-size: 18px;
  line-height: 1.6;
  /* color: #c8c0c0; */
  color: #444242;
}

.GetStartedButton {
  border-radius: 50px;
  background-color: #c34da9;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.GetStartedButton:hover {
  background-color: #a038cc; /* Darker shade on hover */
}

.HeroImage {
  margin-top: 20px;
  border-radius: 10px;
  border-radius: 15%;
}