.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px; /* Add margin bottom to create space between the frame and the footer */

}
.contact-title{
    color: black;
}

.contact-info,
.follow-us,
.contact-form {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
    color: #000;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border-radius: 15px;
}

.contact-form button {
    width: 100%;
    
}

@media screen and (min-width: 768px) {
    .contact-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-info,
    .follow-us {
        width: 45%;
    }

    .contact-form {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .contact-info,
    .follow-us {
        width: 30%;
    }

    .contact-form {
        width: 60%;
    }
}

.error-message {
    color: red;
    margin-top: 5px;
}

.social-links a {
    display: block;
    margin-bottom: 10px;
}
