/* text-detector.css */

  
.media-type-button {
    font-family: Manrope, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    padding: 16px 110px; 
    border: none;
    cursor: pointer;
    background-color: #ccc; /* Gray color for default state */
  }
  
  .media-type-button:hover {
    animation: colorGradient 2s linear infinite alternate; /* Animation on hover */
  }
  @media (max-width: 991px) {
    .media-type-button {
      padding: 16px 32px; /* Adjusted padding for smaller screens */
    }
  }
  
  @keyframes colorGradient {
    0% {
      background: linear-gradient(135deg, #bb6bd9 0%, #1bfed5 100%);
    }
    100% {
      background: linear-gradient(135deg, #1bfed5 0%, #bb6bd9 100%);
    }
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 64px 80px ;
  }
  
  .media-type-heading {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 15px;
    font: Sans-serif bold;
  }
  
  .media-type-buttons {
    display: flex;
    gap: 20px; 
  }
  

  .drag-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 5px dashed rgb(168, 163, 163);
    background-color: rgba(149, 148, 148, 0.8);
    font-weight: 800;  
      padding: 60px 80px;


  }
  
  .label,.txt {
    color: white;
    font-size: 26px;
    cursor: pointer;

  }
  
  /* .label:hover {
    text-decoration: underline;
  } */

.txt1{
    color: gainsboro;
}
  .submit-button {
    border-radius: 99px;
    background-color: #bb6bd9;
    color: #fff;
    text-align: center;
    padding: 16px 48px; /* Increased padding */
    font-family: "Lucida Console", Courier, monospace;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .submit-button:hover {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  